*{
    margin: 0;
    padding: 0;
     font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgb(78, 160, 255);
    height: 195px;
    background-image: url("./img/pattern.png") ;
    background-repeat: repeat-x;
}

section{
    margin-left: 10px; 
}

.cropper{
    height: 190px;
    overflow: hidden;
}

h1{
    margin-top: 20px;
    margin-left: 10px;
}

.grey{
    color: grey;
    margin-left: 10px;
}

.cyan{
    color: rgb(39, 172, 230);
}

.pics{
    margin-top: 125px;
    margin-left: 10px;
}

.subtitle{
    font-size: small;
}

.yellow{
    background: #ffff00;
}